.infiniteSlide {
  display: flex;
  flex-flow: row;
  align-items: center;
  animation: 17.92s linear 0s infinite normal none running infiniteSlides;
  &:hover {
    animation-play-state: paused;
  }
}
.infiniteSlideVertical {
  display: flex;
  flex-flow: column;
  align-items: center;
  animation: 47.4s linear 0s infinite normal none running infiniteSlidesVertical;
  &:hover {
    animation-play-state: paused;
  }
}
@keyframes infiniteSlides {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1792px, 0, 0);
  }
}
@keyframes infiniteSlidesVertical {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -2370px, 0);
  }
}
.tf-sw-mobile {
  &.swiper-active-768 {
    display: none;
  }

  @media (max-width: 768px) {
    &.swiper-active-768 {
      display: block !important;
    }
    &.swiper-inActive-768 {
      display: none !important;
    }
  }
  &.swiper-active-576 {
    display: none;
  }

  @media (max-width: 576px) {
    &.swiper-active-576 {
      display: block !important;
    }
    &.swiper-inActive-576 {
      display: none !important;
    }
  }
}
.tfSubscribeMsg {
  display: none;
  max-height: 0px;
  // transition: 0.4s;
  overflow: hidden;
  &.active {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 180px;
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .footer-col-block .tf-collapse-content {
    overflow-y: hidden;
    display: block !important;
    height: 0;
    transition: 0.5s;
  }
}
.rc-slider .rc-slider-handle {
  border: solid 2px var(--Primary);
  opacity: 1 !important;
  background-color: #fff !important;
  width: 20px;
  border-radius: 10px !important;
  height: 20px;

  margin-top: -9px;
}

.rc-slider .rc-slider-handle:hover {
  border-color: var(--Primary);
}

.rc-slider .rc-slider-handle-dragging {
  border-color: var(--Primary) !important;
  box-shadow: none !important;
}

.rc-slider .rc-slider-track,
.rc-slider .rc-slider-tracks {
  background-color: var(--Primary);
}
.add-cart.cart-added {
  background-color: var(--Primary);
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .service-accordion-item:not(.is-active) {
    width: 0px;
    padding: 0px;
    overflow: hidden;
    border: none !important;
  }
  .service-accordion-item.is-active {
    width: 100% !important;
  }
}



/* Base submenu: hidden by default */
ul.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background: white;
  padding: 0;
  margin: 0;
  min-width: 180px;
  z-index: 999;
}

/* First level submenu appears on parent hover */
li.has-child:hover > ul.submenu {
  display: block;
}

/* Ensure nested submenu is positioned to the right */
li.has-child ul.submenu li.has-child {
  position: relative;
}

/* Second level submenu (only shown on hovering its li) */
li.has-child ul.submenu li.has-child:hover > ul.submenu {
  display: block;
  top: 0;
  left: 100%;
}


.box-service:hover .img-style img {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

.img-style img {
  transition: transform 0.4s ease;
  display: block;
}


// .testimonial:hover .img-style-slider img {
//   transform: scale(1.25);
//   transition: transform 0.6s ease;
// }

// .testimonial .img-style-slider img {
//   transition: transform 0.6s ease;
//   display: block;
// }
// ANIMATED BACKGROUND

// @keyframes colorShift {
//   0% {
//     background-color: #d3defe;
//   }
//   50% {
//     background-color: #a9ad88;
//   }
//   100% {
//     background-color: #d3defe;
//   }
// }

// #animated-background {
//   animation: colorShift 10s ease-in-out infinite;
//   background: transparent;
// }

.line-break{
  display: block;
}
h1{
  font-size: 48px;
  line-height: 52px;
}
.pt_90{
  padding-top:90px !important;
}
.pb_90{
  padding-bottom:90px !important;
}
.mb_90{
  margin-bottom: 90px !important;
}
.mb_60{
  margin-bottom: 60px !important;
}
@media only screen and (max-width: 576px) {
.line-break{
  display: inline;
}
}
@keyframes wowGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#animated-background {
  background: linear-gradient(-45deg, #d3defe, #a9ad88, #ece8d9, #797631);
  background-size: 400% 400%;
  animation: wowGradient 10s ease infinite;
}

//CURSOR
  .cb-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    transition: opacity 0.3s, color 0.4s;
  }
  
  .cb-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0);
    background: currentColor;
    border-radius: 50%;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    -o-transition: opacity 0.1s, -o-transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, opacity 0.1s, -moz-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.1s;
    transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
  }
  
  .cb-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: var(--font-roboto);
    font-weight: 400;
    letter-spacing: 0.01em;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
    transition: opacity 0.4s, -webkit-transform 0.3s;
      -o-transition: opacity 0.4s, -o-transform 0.3s;
    -moz-transition: opacity 0.4s, transform 0.3s, -moz-transform 0.3s;
    transition: opacity 0.4s, transform 0.3s;
    transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
  }
  
  @supports (mix-blend-mode: exclusion) {
    .cb-cursor.-exclusion,
    .cb-cursor.-opaque {
      mix-blend-mode: exclusion;
    }
  
    .cb-cursor.-exclusion:before,
    .cb-cursor.-opaque:before {
      background: #fff;
    }
  }
  
  .cb-cursor.-normal,
  .cb-cursor.-text {
    mix-blend-mode: normal;
  }
  
  .cb-cursor.-normal:before,
  .cb-cursor.-text:before {
    background: currentColor;
  }
  
  .cb-cursor.-inverse {
    color: #fff;
  }
  
  .cb-cursor.-visible:before {
    transform: scale(0.2);
  }
  
  .cb-cursor.-visible.-active:before {
    transform: scale(0.23);
    transition-duration: 0.2s;
  }
  
  .cb-cursor.-pointer:before {
    transform: scale(0.15);
  }
  
  .cb-cursor.-text:before {
    opacity: 0.85;
    transform: scale(1.7);
  }
  
  .cb-cursor.-text .cb-cursor-text {
    opacity: 1;
    transform: scale(1);
  }
  
  .cb-cursor.-text.-active:before {
    transform: scale(1.6);
    transition-duration: 0.2s;
  }
  
  .cb-cursor.-opaque:before { transform: scale(1.32) }
  .cb-cursor.-opaque.-active:before { transform: scale(1.2) }
  .cb-cursor.-sm:before { transform: scale(0.5) }
  .cb-cursor.-md:before { transform: scale(1.32) }
  .cb-cursor.-lg:before { transform: scale(2.2) }
  .cb-cursor.-xl:before { transform: scale(3.5) }
  .cb-cursor.-xxl:before { transform: scale(5) }
  .cb-cursor.-hidden:before { transform: scale(0) }
  
  .cb-cursor.-circle-light:before {
    border: 1px solid #fff;
    color: transparent;
  }
  
  .cb-cursor.-circle-dark:before {
    border: 1px solid #0C0C0C;
    color: transparent;
  }
  
  .cb-cursor.-circle-brown:before {
    border: 1px solid #81684b;
    color: transparent;
  }
  
  .-text-light .cb-cursor-text {
    color: #ccd0db;
  }
  
  .-text-brown .cb-cursor-text {
    color: #917655;
  }
  
  .-text-dark .cb-cursor-text {
    color: #222;
  }
  
  .-xl .cb-cursor-text {
    font-size: 1.2rem;
    line-height: 1.1;
  }
  
  .-xxl .cb-cursor-text {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  
  .-light-1 {
    color: rgba(204,208,219,0.80)
  }
  
  .-light-2 {
    color: rgba(255,255,255,1)
  }
  
  .-dark-1 {
    color: rgba(34,34,34,0.90);
  }
  
  .-dark-2 {
    color: rgba(0,0,0,1);
  }
  
  .-brown {
    color: rgba(170,143,110,0.83)
  }
  
  @media only screen and (max-width: 767px) {
    .cb-cursor { 
      display: none; 
    }
  }