@use "../abstracts/index" as *;
.footer {
    .footer-logo {
        width: 195px;
        margin-bottom: 36px;
    }
    .footer-info {
        display: grid;
        gap: 12px;
    }
    .footer-heading {
        margin-bottom: 26px;
    }
    .footer-menu-list {
        display: grid;
        gap: 12px;
    }
    .footer-newsletter {
        .footer-heading {
            margin-bottom: 17px;
        }
        .description {
            a {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    background-color: var(--Primary);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    @include transition3();
                }
                &:hover {
                    &::after {
                        background-color: var(--Black);
                    }
                }
            }
        }
    }
    .footer-bottom {
        .wrapper {
            margin-top: 120px;
            padding: 33px 0;
            justify-content: space-between;
            border-top: 1px solid var(--Border);
            .right {
                gap: 12px 41px;
            }
        }
    }

    &.style-default {
        .footer-body {
            padding-top: 113px;
        }
        &.has-border-top {
            .footer-body {
                border-top: 1px solid var(--Border);
            }
        }
    }

    &.style-1 {
        background-color: var(--Mono-dark-11);
        .footer-logo {
            width: 160px;
        }
        .contact {
            li {
                display: flex;
                flex-direction: column;
            }
        }
        .footer-bottom .wrapper {
            margin-top: 73px;
            padding: 22px 0 31px;
        }
        .footer-heading {
            margin-bottom: 11px;
        }
        .contact {
            .footer-menu-list {
                gap: 19px;
            }
        }
        .footer-menu-list {
            gap: 14px;
        }
        .left {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .content {
                display: flex;
                flex-direction: column;
            }
        }
        .footer-body {
            .right {
                display: flex;
                margin-top: 50px;
                .content {
                    background-color: #ebe8d8;
                    flex: 20%;
                    padding: 24px 15px;
                }
                .image {
                    flex: 20%;
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .footer-bottom {
            .wrapper {
                border-color: var(--Mono-gray-7);
            }
        }
        .social {
            a {
                font-size: 24px;
            }
        }

    }
    &.style-2 {
        padding-top: 73px;
        .tf-social {
            a {
                &:hover {
                    background-color: var(--Mono-dark-9);
                }
            }
        }
        .form-newsletter {
            fieldset input {
                background-color: var(--Mono-gray-2);
                height: 52px;
                border-radius: 999px;
                border: none;
                max-width: 374px;
            }
            .button-submit {
                max-width: 162px;
                width: 100%;
            }
            .tf-btn {
                width: 100%;
            }
            .subscribe-content {
                gap: 13px;
            }
        }
        .description {
            a {
                &::after {
                    background-color: var(--Color-dark);
                }
                &:hover {
                    &::after {
                        background-color: var(--Primary);
                    }
                }
            }
        }
        .footer-logo {
            margin-bottom: 33px;
        }
        .footer-heading {
            margin-bottom: 34px;
        }
        .wrapper {
            margin-top: 0;
        }
        .footer-bottom {
            padding-top: 107px;
        }
    }
    &.style-3 {
        padding-top: 60px;
        background-color: var(--Primary);
        .footer-newsletter,
        .footer-body,
        .footer-bottom {
            --Primary: #797631;
        }
        .description {
            a {
                &:hover {
                    &::after {
                        background-color: var(--White);
                    }
                }
            }
        }
        .tf-social {
            a {
                border-color: var(--Mono-gray-6);
                color: var(--Mono-gray-6);
                &:hover {
                    background-color: var(--White);
                    color: #28285b;
                }
            }
        }
        .footer-bottom {
            .wrapper {
                border-top: 1px dashed #53537c;
            }
        }
        .form-newsletter {
            fieldset input {
                background-color: rgba(255, 255, 255, 0.2);
                border: none;
                color: var(--White);
                &::placeholder {
                    color: var(--Mono-gray-4);
                }
            }
            .icon {
                color: var(--White);
            }
        }
        .footer-logo {
            width: 195px;
            margin-bottom: 36px;
        }
    }
    &.style-4 {
        background-color: #272727;

        .footer-logo {
            width: 256px;
        }
        .footer-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .footer-menu-list {
            gap: 14px;
        }
        .footer-heading {
            margin-bottom: 10px;
        }
        .footer-newsletter {
            max-width: 548px;
            width: 100%;
            .subscribe-content {
                gap: 12px;
            }
            .footer-heading {
                margin-bottom: 18px;
            }
            fieldset {
                max-width: 374px;
                width: 100%;
                input {
                    border: none;
                    border-radius: 999px;
                    height: 52px;
                }
            }
        }
        .footer-body {
            display: flex;
            flex-direction: column;
            .left {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }
        .tf-social {
            a {
                background-color: var(--Primary);
                color: var(--White);
                border: none;
                &:hover {
                    background-color: var(--White);
                    color: var(--Primary);
                }
            }
        }
        .footer-bottom {
            padding-bottom: 27px;
            .wrapper {
                padding-top: 0;
                border-top: unset;
                padding-bottom: 32px;
                margin-bottom: 26px;
                border-bottom: 1px solid var(--Mono-gray-7);
            }
            .left {
                gap: 15px;
            }
        }
    }
}
